spring:
  datasource:
    url: jdbc:mysql://localhost:3306/scms2_dev?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: password

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
